<div class="message-box">
    <div class="msnger-chat">
      <div class="message d-flex sending-end">
        <div>
          <img
            src="assets/images/63.png"
            height="28"
            width="28"
            alt="chat-profile"
          />
        </div>
        <div style="align-self:center">

          <figcaption class="message-chat">
             <span>  `+message+` </span>
           </figcaption>
           <p class="time-stamp">Halpert|11:30pm</p>
        </div>
        </div>
      </div>;


      <div class="message d-flex receiving-end">
        <div style="align-self: center">
          <figcaption class="message-chat">
            <span>`+message+` </span>
          </figcaption>
         <p class="time-stamp">Halpert|11:30pm</p>
          <div class="text-right">
            <img
              src="assets/images/64.png"
              height="28"
              width="28"
              alt=""
            />
          </div>
        </div>
      </div>;


    </div>
  </div>