<div class="message-box">
    <div class="">
      <div class="message d-flex sending-end">
        <div>
          <img
            src="assets/images/63.png"
            height="28"
            width="28"
            alt=""
          />
        </div>
         <figcaption class="message-chat">
            <span>  `+message+` </span>
          </figcaption>
          <p class="time-stamp">Halpert|11:30pm</p>
        </div>
      </div><br>;


      <div class="message d-flex receiving-end">
        <div style="align-self: center">
          <figcaption class="message-chat">
            <span>`+message+` </span>
          </figcaption>
         <p class="time-stamp">Halpert|11:30pm</p>
          <div class="text-right">
            <img
              src="assets/images/64.png"
              height="28"
              width="28"
              alt=""
            />
          </div>
        </div>
      </div><br>;


    </div>
  </div>