<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/chat.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/flex.css" />
    <link rel="icon" href="/assets/images/1.png" />

    <title>chat</title>
  </head>
  <body>
    <section>
      <div class="mobile-container">
        <div class="chat-flex">
          <div class="chat-left-side">
            <div class="chat-head">
              <div>
                <img src="assets/images/1.png" class="img-fluid" alt="" />
              </div>
              <div class="chat-head-icons">
                <div><img src="assets/svgs/add.svg" alt="" /></div>
                <div class="search-bar">
                  <img
                    class="search-icon"
                    src="assets/svgs/Icons-search-gray.svg"
                    alt=""
                  />

                  <form class="search" action="">
                    <input class="search" type="text" placeholder="Search" />
                    <img src="assets/svgs/tick.svg" alt="" />
                  </form>
                </div>
                <div class="dropdown">
                  <div
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    style="padding: 0; margin-top: 2.5px"
                  >
                    <img src="assets/svgs/icons-dark-more.svg" alt="" />
                  </div>
                  <div
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton"
                  >
                    <a class="dropdown-item" href="#">
                      <span
                        class="iconify"
                        data-icon="carbon:arrows-vertical"
                        data-inline="false"
                      ></span>
                      Sort By (A/Z,Z/A)
                    </a>
                    <a class="dropdown-item" href="#">
                      <span
                        class="iconify"
                        data-icon="codicon:feedback"
                        data-inline="false"
                      ></span>
                      Feedback
                    </a>
                    <a class="dropdown-item" href="#"
                      ><span
                        class="iconify"
                        data-icon="bytesize:user"
                        data-inline="false"
                      ></span
                      >My Profile</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="chat-body">
              <nav>
                <div class="nav chat-nav" id="nav-tab" role="tablist">
                  <a
                    class="nav-item nav-link active"
                    id="nav-home-tab"
                    data-toggle="tab"
                    href="#nav-home"
                    role="tab"
                    aria-controls="nav-home"
                    aria-selected="true"
                    >INTEREST</a
                  >
                  <a
                    class="nav-item nav-link"
                    id="nav-profile-tab"
                    data-toggle="tab"
                    href="#nav-profile"
                    role="tab"
                    aria-controls="nav-profile"
                    aria-selected="false"
                    >DISCOVER</a
                  >
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div
                  class="tab-pane fade show active"
                  id="nav-home"
                  role="tabpanel"
                  aria-labelledby="nav-home-tab"
                >
                  <div class="chat-list">
                    <div class="chat-block">
                      <div class="chat-block_flex">
                        <div class="chat-block_flex_img_container">
                          <img
                            src="assets/images/chat-img.png"
                            class="img-fluid"
                            alt="chat-logo"
                          />
                          <span class="total-members">99+</span>
                        </div>
                        <div>
                          <strong>Sport</strong>
                          <figcaption class="chat-intro">
                            Really,I thought we were going to be friends...
                          </figcaption>
                        </div>
                        <div>
                          <figcaption><b>11:00PM</b></figcaption>
                          <figcaption>
                            <a href="#"><span class="number-badge">2</span></a>
                          </figcaption>
                        </div>
                      </div>
                      <ul id="menu" class="menu">
                        <li class="menu-item">
                          <span
                            class="iconify"
                            data-icon="mdi-delete"
                            data-inline="false"
                          ></span
                          >Delete
                        </li>
                      </ul>
                      <div id="out-click" class="out-click"></div>
                    </div>
                    <div class="chat-block">
                      <div class="chat-block_flex">
                        <div class="chat-block_flex_img_container">
                          <img
                            src="assets/images/chat-img.png"
                            class="img-fluid"
                            alt="chat-logo"
                          />
                          <span class="total-members">99+</span>
                        </div>
                        <div>
                          <strong>Sport</strong>
                          <figcaption class="chat-intro">
                            Really,I thought we were going to be friends...
                          </figcaption>
                        </div>
                        <div>
                          <figcaption><b>11:00PM</b></figcaption>
                          <figcaption>
                            <div class="number-badge">113</div>
                          </figcaption>
                        </div>
                      </div>
                      <ul id="menu" class="menu">
                        <li class="menu-item">
                          <span
                            class="iconify"
                            data-icon="mdi-delete"
                            data-inline="false"
                          ></span
                          >Delete
                        </li>
                      </ul>
                      <div id="out-click" class="out-click"></div>
                    </div>
                    <div class="chat-block">
                      <div class="chat-block_flex">
                        <div class="chat-block_flex_img_container">
                          <img
                            src="assets/images/chat-img.png"
                            class="img-fluid"
                            alt="chat-logo"
                          />
                          <span class="total-members">99+</span>
                        </div>
                        <div>
                          <strong>Sport</strong>
                          <figcaption class="chat-intro">
                            Really,I thought we were going to be friends...
                          </figcaption>
                        </div>
                        <div>
                          <figcaption><b>11:00PM</b></figcaption>
                          <figcaption>
                            <div class="number-badge">113</div>
                          </figcaption>
                        </div>
                      </div>
                      <ul id="menu" class="menu">
                        <li class="menu-item">
                          <span
                            class="iconify"
                            data-icon="mdi-delete"
                            data-inline="false"
                          ></span
                          >Delete
                        </li>
                      </ul>
                      <div id="out-click" class="out-click"></div>
                    </div>
                    <div class="chat-block">
                      <div class="chat-block_flex">
                        <div class="chat-block_flex_img_container">
                          <img
                            src="assets/images/chat-img.png"
                            class="img-fluid"
                            alt="chat-logo"
                          />
                          <span class="total-members">99+</span>
                        </div>
                        <div>
                          <strong>Sport</strong>
                          <figcaption class="chat-intro">
                            Really,I thought we were going to be friends...
                          </figcaption>
                        </div>
                        <div>
                          <figcaption><b>11:00PM</b></figcaption>
                          <figcaption>
                            <div class="number-badge">113</div>
                          </figcaption>
                        </div>
                      </div>
                      <ul id="menu" class="menu">
                        <li class="menu-item">
                          <span
                            class="iconify"
                            data-icon="mdi-delete"
                            data-inline="false"
                          ></span
                          >Delete
                        </li>
                      </ul>
                      <div id="out-click" class="out-click"></div>
                    </div>
                    <div class="chat-block">
                      <div class="chat-block_flex">
                        <div class="chat-block_flex_img_container">
                          <img
                            src="assets/images/chat-img.png"
                            class="img-fluid"
                            alt="chat-logo"
                          />
                          <span class="total-members">99+</span>
                        </div>
                        <div>
                          <strong>Sport</strong>
                          <figcaption class="chat-intro">
                            Really,I thought we were going to be friends...
                          </figcaption>
                        </div>
                        <div>
                          <figcaption><b>11:00PM</b></figcaption>
                          <figcaption>
                            <div class="number-badge">113</div>
                          </figcaption>
                        </div>
                      </div>
                      <ul id="menu" class="menu">
                        <li class="menu-item">
                          <span
                            class="iconify"
                            data-icon="mdi-delete"
                            data-inline="false"
                          ></span
                          >Delete
                        </li>
                      </ul>
                      <div id="out-click" class="out-click"></div>
                    </div>
                    <div class="chat-block">
                      <div class="chat-block_flex">
                        <div class="chat-block_flex_img_container">
                          <img
                            src="assets/images/chat-img.png"
                            class="img-fluid"
                            alt="chat-logo"
                          />
                          <span class="total-members">99+</span>
                        </div>
                        <div>
                          <strong>Sport</strong>
                          <figcaption class="chat-intro">
                            Really,I thought we were going to be friends...
                          </figcaption>
                        </div>
                        <div>
                          <figcaption><b>11:00PM</b></figcaption>
                          <figcaption>
                            <div class="number-badge">113</div>
                          </figcaption>
                        </div>
                      </div>
                      <ul id="menu" class="menu">
                        <li class="menu-item">
                          <span
                            class="iconify"
                            data-icon="mdi-delete"
                            data-inline="false"
                          ></span
                          >Delete
                        </li>
                      </ul>
                      <div id="out-click" class="out-click"></div>
                    </div>
                    <div class="chat-block">
                      <div class="chat-block_flex">
                        <div class="chat-block_flex_img_container">
                          <img
                            src="assets/images/chat-img.png"
                            class="img-fluid"
                            alt="chat-logo"
                          />
                          <span class="total-members">99+</span>
                        </div>
                        <div>
                          <strong>Sport</strong>
                          <figcaption class="chat-intro">
                            Really,I thought we were going to be friends...
                          </figcaption>
                        </div>
                        <div>
                          <figcaption><b>11:00PM</b></figcaption>
                          <figcaption>
                            <div class="number-badge">113</div>
                          </figcaption>
                        </div>
                      </div>
                      <ul id="menu" class="menu">
                        <li class="menu-item">
                          <span
                            class="iconify"
                            data-icon="mdi-delete"
                            data-inline="false"
                          ></span
                          >Delete
                        </li>
                      </ul>
                      <div id="out-click" class="out-click"></div>
                    </div>
                    <div class="chat-block">
                      <div class="chat-block_flex">
                        <div class="chat-block_flex_img_container">
                          <img
                            src="assets/images/chat-img.png"
                            class="img-fluid"
                            alt="chat-logo"
                          />
                          <span class="total-members">99+</span>
                        </div>
                        <div>
                          <strong>Sport</strong>
                          <figcaption class="chat-intro">
                            Really,I thought we were going to be friends...
                          </figcaption>
                        </div>
                        <div>
                          <figcaption><b>11:00PM</b></figcaption>
                          <figcaption>
                            <div class="number-badge">113</div>
                          </figcaption>
                        </div>
                      </div>
                      <ul id="menu" class="menu">
                        <li class="menu-item">
                          <span
                            class="iconify"
                            data-icon="mdi-delete"
                            data-inline="false"
                          ></span
                          >Delete
                        </li>
                      </ul>
                      <div id="out-click" class="out-click"></div>
                    </div>
                    <div class="chat-block">
                      <div class="chat-block_flex">
                        <div class="chat-block_flex_img_container">
                          <img
                            src="assets/images/chat-img.png"
                            class="img-fluid"
                            alt="chat-logo"
                          />
                          <span class="total-members">99+</span>
                        </div>
                        <div>
                          <strong>Sport</strong>
                          <figcaption class="chat-intro">
                            Really,I thought we were going to be friends...
                          </figcaption>
                        </div>
                        <div>
                          <figcaption><b>11:00PM</b></figcaption>
                          <figcaption>
                            <div class="number-badge">113</div>
                          </figcaption>
                        </div>
                      </div>
                      <ul id="menu" class="menu">
                        <li class="menu-item">
                          <span
                            class="iconify"
                            data-icon="mdi-delete"
                            data-inline="false"
                          ></span
                          >Delete
                        </li>
                      </ul>
                      <div id="out-click" class="out-click"></div>
                    </div>
                    <div class="chat-block">
                      <div class="chat-block_flex">
                        <div class="chat-block_flex_img_container">
                          <img
                            src="assets/images/chat-img.png"
                            class="img-fluid"
                            alt="chat-logo"
                          />
                          <span class="total-members">99+</span>
                        </div>
                        <div>
                          <strong>Sport</strong>
                          <figcaption class="chat-intro">
                            Really,I thought we were going to be friends...
                          </figcaption>
                        </div>
                        <div>
                          <figcaption><b>11:00PM</b></figcaption>
                          <figcaption>
                            <div class="number-badge">113</div>
                          </figcaption>
                        </div>
                      </div>
                      <ul id="menu" class="menu">
                        <li class="menu-item">
                          <span
                            class="iconify"
                            data-icon="mdi-delete"
                            data-inline="false"
                          ></span
                          >Delete
                        </li>
                      </ul>
                      <div id="out-click" class="out-click"></div>
                    </div>
                    <div class="chat-block">
                      <div class="chat-block_flex">
                        <div class="chat-block_flex_img_container">
                          <img
                            src="assets/images/chat-img.png"
                            class="img-fluid"
                            alt="chat-logo"
                          />
                          <span class="total-members">99+</span>
                        </div>
                        <div>
                          <strong>Sport</strong>
                          <figcaption class="chat-intro">
                            Really,I thought we were going to be friends...
                          </figcaption>
                        </div>
                        <div>
                          <figcaption><b>11:00PM</b></figcaption>
                          <figcaption>
                            <div class="number-badge">113</div>
                          </figcaption>
                        </div>
                      </div>
                      <ul id="menu" class="menu">
                        <li class="menu-item">
                          <span
                            class="iconify"
                            data-icon="mdi-delete"
                            data-inline="false"
                          ></span
                          >Delete
                        </li>
                      </ul>
                      <div id="out-click" class="out-click"></div>
                    </div>
                    <div class="chat-block">
                      <div class="chat-block_flex">
                        <div class="chat-block_flex_img_container">
                          <img
                            src="assets/images/chat-img.png"
                            class="img-fluid"
                            alt="chat-logo"
                          />
                          <span class="total-members">99+</span>
                        </div>
                        <div>
                          <strong>Sport</strong>
                          <figcaption class="chat-intro">
                            Really,I thought we were going to be friends...
                          </figcaption>
                        </div>
                        <div>
                          <figcaption><b>11:00PM</b></figcaption>
                          <figcaption>
                            <div class="number-badge">113</div>
                          </figcaption>
                        </div>
                      </div>
                      <ul id="menu" class="menu">
                        <li class="menu-item">
                          <span
                            class="iconify"
                            data-icon="mdi-delete"
                            data-inline="false"
                          ></span
                          >Delete
                        </li>
                      </ul>
                      <div id="out-click" class="out-click"></div>
                    </div>
                    <div class="chat-block">
                      <div class="chat-block_flex">
                        <div class="chat-block_flex_img_container">
                          <img
                            src="assets/images/chat-img.png"
                            class="img-fluid"
                            alt="chat-logo"
                          />
                          <span class="total-members">99+</span>
                        </div>
                        <div>
                          <strong>Sport</strong>
                          <figcaption class="chat-intro">
                            Really,I thought we were going to be friends...
                          </figcaption>
                        </div>
                        <div>
                          <figcaption><b>11:00PM</b></figcaption>
                          <figcaption>
                            <div class="number-badge">113</div>
                          </figcaption>
                        </div>
                      </div>
                      <ul id="menu" class="menu">
                        <li class="menu-item">
                          <span
                            class="iconify"
                            data-icon="mdi-delete"
                            data-inline="false"
                          ></span
                          >Delete
                        </li>
                      </ul>
                      <div id="out-click" class="out-click"></div>
                    </div>
                    <div class="chat-block">
                      <div class="chat-block_flex">
                        <div class="chat-block_flex_img_container">
                          <img
                            src="assets/images/chat-img.png"
                            class="img-fluid"
                            alt="chat-logo"
                          />
                          <span class="total-members">99+</span>
                        </div>
                        <div>
                          <strong>Sport</strong>
                          <figcaption class="chat-intro">
                            Really,I thought we were going to be friends...
                          </figcaption>
                        </div>
                        <div>
                          <figcaption><b>11:00PM</b></figcaption>
                          <figcaption>
                            <div class="number-badge">113</div>
                          </figcaption>
                        </div>
                      </div>
                      <ul id="menu" class="menu">
                        <li class="menu-item">
                          <span
                            class="iconify"
                            data-icon="mdi-delete"
                            data-inline="false"
                          ></span
                          >Delete
                        </li>
                      </ul>
                      <div id="out-click" class="out-click"></div>
                    </div>
                    <div class="chat-block">
                      <div class="chat-block_flex">
                        <div class="chat-block_flex_img_container">
                          <img
                            src="assets/images/chat-img.png"
                            class="img-fluid"
                            alt="chat-logo"
                          />
                          <span class="total-members">99+</span>
                        </div>
                        <div>
                          <strong>Sport</strong>
                          <figcaption class="chat-intro">
                            Really,I thought we were going to be friends...
                          </figcaption>
                        </div>
                        <div>
                          <figcaption><b>11:00PM</b></figcaption>
                          <figcaption>
                            <div class="number-badge">113</div>
                          </figcaption>
                        </div>
                      </div>
                      <ul id="menu" class="menu">
                        <li class="menu-item">
                          <span
                            class="iconify"
                            data-icon="mdi-delete"
                            data-inline="false"
                          ></span
                          >Delete
                        </li>
                      </ul>
                      <div id="out-click" class="out-click"></div>
                    </div>
                    <div class="chat-block">
                      <div class="chat-block_flex">
                        <div class="chat-block_flex_img_container">
                          <img
                            src="assets/images/chat-img.png"
                            class="img-fluid"
                            alt="chat-logo"
                          />
                          <span class="total-members">99+</span>
                        </div>
                        <div>
                          <strong>Sport</strong>
                          <figcaption class="chat-intro">
                            Really,I thought we were going to be friends...
                          </figcaption>
                        </div>
                        <div>
                          <figcaption><b>11:00PM</b></figcaption>
                          <figcaption>
                            <div class="number-badge">113</div>
                          </figcaption>
                        </div>
                      </div>
                      <ul id="menu" class="menu">
                        <li class="menu-item">
                          <span
                            class="iconify"
                            data-icon="mdi-delete"
                            data-inline="false"
                          ></span
                          >Delete
                        </li>
                      </ul>
                      <div id="out-click" class="out-click"></div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="nav-profile"
                  role="tabpanel"
                  aria-labelledby="nav-profile-tab"
                >
                  <div class="chat-list">
                    <div class="chat-block">
                      <div class="chat-block_flex_between pl-3 pr-3">
                        <div class="d-flex">
                          <div class="chat-block_flex_img_container">
                            <img
                              src="assets/images/chat-img.png"
                              class="img-fluid"
                              alt="chat-logo"
                            />
                            <span class="total-members">99+</span>
                          </div>
                          <strong class="strong">Sport</strong>
                        </div>
                        <div
                          class="add-icon-container"
                          type="button"
                          data-toggle="modal"
                          data-target="#addInterest"
                          class="edit-link"
                          class="edit-link"
                        >
                          <img
                            src="assets/images/add-white.svg"
                            class="add-icon"
                            alt=""
                          />
                        </div>
                      </div>
                      <!-- modal for adding interest -->
                      <div
                        class="modal fade"
                        id="addInterest"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="editName"
                        aria-hidden="true"
                      >
                        <div
                          class="modal-dialog modal-dialog-centered"
                          role="document"
                        >
                          <div class="modal-content">
                            <div class="">
                              <h4
                                class="text-center font-weight-bold pt-3"
                                id="exampleModalLongTitle"
                              >
                                Add 'sport' to Interests?
                              </h4>
                              <!-- <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                          >
                            <span aria-hidden="true">&times;</span>
                          </button> -->
                            </div>
                            <div class="text-center">
                              <div></div>
                            </div>
                            <div class="mx-auto pb-4">
                              <button
                                type="button"
                                class="modal-button"
                                data-dismiss="modal"
                              >
                                No
                              </button>
                              <button type="button" class="modal-button">
                                Yes
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="chat-block">
                      <div class="chat-block_flex_between pl-3 pr-3">
                        <div class="d-flex">
                          <div class="chat-block_flex_img_container">
                            <img
                              src="assets/images/chat-img.png"
                              class="img-fluid"
                              alt="chat-logo"
                            />
                            <span class="total-members">99+</span>
                          </div>
                          <strong class="strong">Sport</strong>
                        </div>
                        <div
                          class="add-icon-container"
                          type="button"
                          data-toggle="modal"
                          data-target="#addInterest"
                          class="edit-link"
                          class="edit-link"
                        >
                          <img
                            src="assets/images/add-white.svg"
                            class="add-icon"
                            alt=""
                          />
                        </div>
                      </div>
                      <!-- modal for adding interest -->
                      <div
                        class="modal fade"
                        id="addInterest"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="editName"
                        aria-hidden="true"
                      >
                        <div
                          class="modal-dialog modal-dialog-centered"
                          role="document"
                        >
                          <div class="modal-content">
                            <div class="">
                              <h4
                                class="text-center font-weight-bold pt-3"
                                id="exampleModalLongTitle"
                              >
                                Add 'sport' to Interests?
                              </h4>
                              <!-- <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                          >
                            <span aria-hidden="true">&times;</span>
                          </button> -->
                            </div>
                            <div class="text-center">
                              <div></div>
                            </div>
                            <div class="mx-auto pb-4">
                              <button
                                type="button"
                                class="modal-button"
                                data-dismiss="modal"
                              >
                                No
                              </button>
                              <button type="button" class="modal-button">
                                Yes
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="chat-block">
                      <div class="chat-block_flex_between pl-3 pr-3">
                        <div class="d-flex">
                          <div class="chat-block_flex_img_container">
                            <img
                              src="assets/images/chat-img.png"
                              class="img-fluid"
                              alt="chat-logo"
                            />
                            <span class="total-members">99+</span>
                          </div>
                          <strong class="strong">Sport</strong>
                        </div>
                        <div
                          class="add-icon-container"
                          type="button"
                          data-toggle="modal"
                          data-target="#addInterest"
                          class="edit-link"
                          class="edit-link"
                        >
                          <img
                            src="assets/images/add-white.svg"
                            class="add-icon"
                            alt=""
                          />
                        </div>
                      </div>
                      <!-- modal for adding interest -->
                      <div
                        class="modal fade"
                        id="addInterest"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="editName"
                        aria-hidden="true"
                      >
                        <div
                          class="modal-dialog modal-dialog-centered"
                          role="document"
                        >
                          <div class="modal-content">
                            <div class="">
                              <h4
                                class="text-center font-weight-bold pt-3"
                                id="exampleModalLongTitle"
                              >
                                Add 'sport' to Interests?
                              </h4>
                              <!-- <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                          >
                            <span aria-hidden="true">&times;</span>
                          </button> -->
                            </div>
                            <div class="text-center">
                              <div></div>
                            </div>
                            <div class="mx-auto pb-4">
                              <button
                                type="button"
                                class="modal-button"
                                data-dismiss="modal"
                              >
                                No
                              </button>
                              <button type="button" class="modal-button">
                                Yes
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="chat-block">
                      <div class="chat-block_flex_between pl-3 pr-3">
                        <div class="d-flex">
                          <div class="chat-block_flex_img_container">
                            <img
                              src="assets/images/chat-img.png"
                              class="img-fluid"
                              alt="chat-logo"
                            />
                            <span class="total-members">99+</span>
                          </div>
                          <strong class="strong">Sport</strong>
                        </div>
                        <div
                          class="add-icon-container"
                          type="button"
                          data-toggle="modal"
                          data-target="#addInterest"
                          class="edit-link"
                          class="edit-link"
                        >
                          <img
                            src="assets/images/add-white.svg"
                            class="add-icon"
                            alt=""
                          />
                        </div>
                      </div>
                      <!-- modal for adding interest -->
                      <div
                        class="modal fade"
                        id="addInterest"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="editName"
                        aria-hidden="true"
                      >
                        <div
                          class="modal-dialog modal-dialog-centered"
                          role="document"
                        >
                          <div class="modal-content">
                            <div class="">
                              <h4
                                class="text-center font-weight-bold pt-3"
                                id="exampleModalLongTitle"
                              >
                                Add 'sport' to Interests?
                              </h4>
                              <!-- <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                          >
                            <span aria-hidden="true">&times;</span>
                          </button> -->
                            </div>
                            <div class="text-center">
                              <div></div>
                            </div>
                            <div class="mx-auto pb-4">
                              <button
                                type="button"
                                class="modal-button"
                                data-dismiss="modal"
                              >
                                No
                              </button>
                              <button type="button" class="modal-button">
                                Yes
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="chat-block">
                      <div class="chat-block_flex_between pl-3 pr-3">
                        <div class="d-flex">
                          <div class="chat-block_flex_img_container">
                            <img
                              src="assets/images/chat-img.png"
                              class="img-fluid"
                              alt="chat-logo"
                            />
                            <span class="total-members">99+</span>
                          </div>
                          <strong class="strong">Sport</strong>
                        </div>
                        <div
                          class="add-icon-container"
                          type="button"
                          data-toggle="modal"
                          data-target="#addInterest"
                          class="edit-link"
                          class="edit-link"
                        >
                          <img
                            src="assets/images/add-white.svg"
                            class="add-icon"
                            alt=""
                          />
                        </div>
                      </div>
                      <!-- modal for adding interest -->
                      <div
                        class="modal fade"
                        id="addInterest"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="editName"
                        aria-hidden="true"
                      >
                        <div
                          class="modal-dialog modal-dialog-centered"
                          role="document"
                        >
                          <div class="modal-content">
                            <div class="">
                              <h4
                                class="text-center font-weight-bold pt-3"
                                id="exampleModalLongTitle"
                              >
                                Add 'sport' to Interests?
                              </h4>
                              <!-- <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                          >
                            <span aria-hidden="true">&times;</span>
                          </button> -->
                            </div>
                            <div class="text-center">
                              <div></div>
                            </div>
                            <div class="mx-auto pb-4">
                              <button
                                type="button"
                                class="modal-button"
                                data-dismiss="modal"
                              >
                                No
                              </button>
                              <button type="button" class="modal-button">
                                Yes
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- chat section -->
          <div class="chat-messages_2">
            <div>
              <div class="messages-head d-flex justify-content-between">
                <div class="d-flex">
                  <div class="chat-block_flex">
                    <div class="chat-block_flex_img_container">
                      <img
                        src="assets/images/chat-img.png"
                        class="img-fluid"
                        alt="chat-logo"
                      />
                    </div>
                    <div class="pl-2">
                      <strong>Sport</strong>
                      <figcaption class="chat-intro">
                        <span>6 members , </span><span> 52 online</span>
                      </figcaption>
                    </div>
                  </div>
                </div>
                <div class="grey-icons d-flex">
                  <div class="search-bar">
                    <!-- <img
                      class="search-icon"
                      src="assets/svgs/Icons-search-gray.svg"
                      alt=""
                    /> -->
                    <div class="chat-search-icon">
                      <span
                        class="iconify"
                        data-icon="carbon:search"
                        data-inline="false"
                      ></span>
                    </div>

                    <form class="chat-search inline-form" action="">
                      <input
                        class="profile-search chat-search"
                        type="text"
                        placeholder="Search"
                      />
                      <img
                        style="align-self: baseline"
                        src="assets/svgs/tick.svg"
                        alt=""
                      />
                    </form>
                  </div>

                  <!-- mutumina -->
                  <div class="dropdown" style="margin-top: -11px">
                    <div
                      type="button"
                      id="dropdownMenuButton"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <span
                        class="iconify"
                        data-icon="ph:dots-three-vertical-bold"
                        data-inline="false"
                      ></span>
                    </div>
                    <div
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton"
                    >
                      <a class="dropdown-item" href="#">
                        <span
                          class="iconify"
                          data-icon="carbon:arrows-vertical"
                          data-inline="false"
                        ></span>
                        Sort By (A/Z,Z/A)
                      </a>
                      <a class="dropdown-item" href="#">
                        <span
                          class="iconify"
                          data-icon="codicon:feedback"
                          data-inline="false"
                        ></span>
                        Feedback
                      </a>
                      <a class="dropdown-item" href="#"
                        ><span
                          class="iconify"
                          data-icon="bytesize:user"
                          data-inline="false"
                        ></span
                        >My Profile</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <hr />

              <div class="message-box">
                <div class="msnger-chat">
                  <div class="message d-flex sending-end">
                    <div>
                      <img
                        src="assets/images/63.png"
                        height="28"
                        width="28"
                        alt=""
                      />
                    </div>
                    <div style="align-self: center">
                      <figcaption class="message-chat">
                        <span> We have to Assign A new Member </span>
                      </figcaption>

                      <figcaption class="message-chat">
                        <span> We have to Assign A new Member </span>
                      </figcaption>
                      <p class="time-stamp">Halpert|11:30pm</p>
                    </div>
                  </div>
                  <div class="d-flex receiving-end">
                    <div style="align-self: center">
                      <figcaption class="message-chat">
                        <span> We have to Assign A new Member </span>
                      </figcaption>

                      <figcaption class="message-chat">
                        <span> We have to Assign A new Member </span>
                      </figcaption>
                      <p class="time-stamp">Halpert|11:30pm</p>
                      <div class="text-right">
                        <img
                          src="assets/images/64.png"
                          height="28"
                          width="28"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>

                  <div class="message d-flex sending-end">
                    <div>
                      <img
                        src="assets/images/63.png"
                        height="28"
                        width="28"
                        alt=""
                      />
                    </div>
                    <div style="align-self: center">
                      <figcaption class="message-chat">
                        <span> We have to Assign A new Member </span>
                      </figcaption>

                      <figcaption class="message-chat">
                        <span> We have to Assign A new Member </span>
                      </figcaption>
                      <p class="time-stamp">Halpert|11:30pm</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="type-box">
                <div class="type-container">
                  <div class="type-group">
                    <form action="post" id="image-form">
                      <label
                        class="attach-img"
                        id="image-upload-label"
                        for="file-upload"
                      >
                        <input
                          accept="image/*"
                          name="picture"
                          type="file"
                          id="file-upload"
                          name=""
                        />

                        <span
                          class="iconify"
                          data-icon="subway:pin"
                          data-inline="false"
                        ></span>
                      </label>
                    </form>
                    <div class="pr-4"></div>
                    <div class="d-flex fake-text-field">
                      <div id="emoji">
                        <span
                          class="iconify"
                          data-icon="ph:smiley-fill"
                          data-inline="false"
                        ></span>
                      </div>
                      <input
                        type="text"
                        placeholder="Type your messages"
                        class="text-field"
                      />
                      <div id="sendMessage">
                        <!-- add onclick function to send message -->
                        <span
                          class="iconify"
                          data-icon="fluent:send-24-filled"
                          data-inline="false"
                        ></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- members section -->
          <div class="chat-messages_3">
            <div>
              <div class="profile-head d-flex justify-content-between">
                <div class="">
                  <!-- <img src="assets/images/1.png" class="img-fluid" alt="" /> -->
                  <strong id="members">ALL MEMBERS</strong>

                  <!-- <div class="">

                    <div
                      class="pl-2 grey-text all-members"
                      style="align-self: center"
                    >
                    
                     
                    </div>
                  </div> -->
                </div>
                <div class="grey-icons d-flex">
                  <div class="search-bar">
                    <div class="my-profile-search">
                      <span
                        class="iconify"
                        data-icon="carbon:search"
                        data-inline="false"
                      ></span>
                    </div>

                    <form class="profile-search inline-form" action="">
                      <input
                        class="profile-search"
                        type="text"
                        placeholder="Search"
                      />
                      <img
                        style="align-self: baseline"
                        src="assets/svgs/tick.svg"
                        alt=""
                      />
                    </form>
                  </div>

                  <!-- dropdown -->
                  <div class="dropdown" style="margin-top: -11px">
                    <div
                      type="button"
                      id="dropdownMenuButton"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <span
                        class="iconify"
                        data-icon="ph:dots-three-vertical-bold"
                        data-inline="false"
                      ></span>
                    </div>
                    <div
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton"
                    >
                      <a class="dropdown-item" href="#">
                        <span
                          class="iconify"
                          data-icon="carbon:arrows-vertical"
                          data-inline="false"
                        ></span>
                        Sort By (A/Z,Z/A)
                      </a>
                      <a class="dropdown-item" href="#">
                        <span
                          class="iconify"
                          data-icon="codicon:feedback"
                          data-inline="false"
                        ></span>
                        Feedback
                      </a>
                      <a class="dropdown-item" href="#"
                        ><span
                          class="iconify"
                          data-icon="bytesize:user"
                          data-inline="false"
                        ></span
                        >My Profile</a
                      >
                    </div>
                  </div>
                </div>
              </div>

              <hr />
              <!-- after the head, the listing of the body -->
              <div class="member-list">
                <div class="chat-block">
                  <div class="chat-block_flex_between pl-3 pr-3">
                    <div class="d-flex">
                      <div class="chat-block_flex_img_container">
                        <img
                          src="assets/images/chat-img.png"
                          class="img-fluid member-img"
                          alt="chat-logo"
                        />
                      </div>
                      <strong class="strong member-name pl-2">Felix</strong>
                    </div>
                    <div class="profile-more">
                      <span
                        class="iconify"
                        data-icon="fe:arrow-right"
                        data-inline="false"
                      ></span>
                    </div>
                  </div>
                </div>
                <div class="chat-block">
                  <div class="chat-block_flex_between pl-3 pr-3">
                    <div class="d-flex">
                      <div class="chat-block_flex_img_container">
                        <img
                          src="assets/images/chat-img.png"
                          class="img-fluid member-img"
                          alt="chat-logo"
                        />
                      </div>
                      <strong class="strong member-name pl-2">Felix</strong>
                    </div>
                    <div class="profile-more">
                      <span
                        class="iconify"
                        data-icon="fe:arrow-right"
                        data-inline="false"
                      ></span>
                    </div>
                  </div>
                </div>
                <div class="chat-block">
                  <div class="chat-block_flex_between pl-3 pr-3">
                    <div class="d-flex">
                      <div class="chat-block_flex_img_container">
                        <img
                          src="assets/images/chat-img.png"
                          class="img-fluid member-img"
                          alt="chat-logo"
                        />
                      </div>
                      <strong class="strong member-name pl-2">Felix</strong>
                    </div>
                    <div class="profile-more">
                      <span
                        class="iconify"
                        data-icon="fe:arrow-right"
                        data-inline="false"
                      ></span>
                    </div>
                  </div>
                </div>
                <div class="chat-block">
                  <div class="chat-block_flex_between pl-3 pr-3">
                    <div class="d-flex">
                      <div class="chat-block_flex_img_container">
                        <img
                          src="assets/images/chat-img.png"
                          class="img-fluid member-img"
                          alt="chat-logo"
                        />
                      </div>
                      <strong class="strong member-name pl-2">Felix</strong>
                    </div>
                    <div class="profile-more">
                      <span
                        class="iconify"
                        data-icon="fe:arrow-right"
                        data-inline="false"
                      ></span>
                    </div>
                  </div>
                </div>
                <div class="chat-block">
                  <div class="chat-block_flex_between pl-3 pr-3">
                    <div class="d-flex">
                      <div class="chat-block_flex_img_container">
                        <img
                          src="assets/images/chat-img.png"
                          class="img-fluid member-img"
                          alt="chat-logo"
                        />
                      </div>
                      <strong class="strong member-name pl-2">Felix</strong>
                    </div>
                    <div class="profile-more">
                      <span
                        class="iconify"
                        data-icon="fe:arrow-right"
                        data-inline="false"
                      ></span>
                    </div>
                  </div>
                </div>
                <div class="chat-block">
                  <div class="chat-block_flex_between pl-3 pr-3">
                    <div class="d-flex">
                      <div class="chat-block_flex_img_container">
                        <img
                          src="assets/images/chat-img.png"
                          class="img-fluid member-img"
                          alt="chat-logo"
                        />
                      </div>
                      <strong class="strong member-name pl-2">Felix</strong>
                    </div>
                    <div class="profile-more">
                      <span
                        class="iconify"
                        data-icon="fe:arrow-right"
                        data-inline="false"
                      ></span>
                    </div>
                  </div>
                </div>
                <div class="chat-block">
                  <div class="chat-block_flex_between pl-3 pr-3">
                    <div class="d-flex">
                      <div class="chat-block_flex_img_container">
                        <img
                          src="assets/images/chat-img.png"
                          class="img-fluid member-img"
                          alt="chat-logo"
                        />
                      </div>
                      <strong class="strong member-name pl-2">Felix</strong>
                    </div>
                    <div class="profile-more">
                      <span
                        class="iconify"
                        data-icon="fe:arrow-right"
                        data-inline="false"
                      ></span>
                    </div>
                  </div>
                </div>
                <div class="chat-block">
                  <div class="chat-block_flex_between pl-3 pr-3">
                    <div class="d-flex">
                      <div class="chat-block_flex_img_container">
                        <img
                          src="assets/images/chat-img.png"
                          class="img-fluid member-img"
                          alt="chat-logo"
                        />
                      </div>
                      <strong class="strong member-name pl-2">Felix</strong>
                    </div>
                    <div class="profile-more">
                      <span
                        class="iconify"
                        data-icon="fe:arrow-right"
                        data-inline="false"
                      ></span>
                    </div>
                  </div>
                </div>
                <div class="chat-block">
                  <div class="chat-block_flex_between pl-3 pr-3">
                    <div class="d-flex">
                      <div class="chat-block_flex_img_container">
                        <img
                          src="assets/images/chat-img.png"
                          class="img-fluid member-img"
                          alt="chat-logo"
                        />
                      </div>
                      <strong class="strong member-name pl-2">Felix</strong>
                    </div>
                    <div class="profile-more">
                      <span
                        class="iconify"
                        data-icon="fe:arrow-right"
                        data-inline="false"
                      ></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <script src="/assets/js/script.js"></script>
  </body>
</html>
