<div class="chat-right-side">
    <div class="form-container">
      <div class="text-center">
        <img
          src="assets/images/right-img.png"
          width="250"
          height="250"
          class="img-fluid"
          alt="connect"
        />

        <h6 class="font-weight-bold pt-4">Create or Discover</h6>
        <p class="grey-text">
          Create your interests or discover new <br />
          ones to find others who share <br />
          your curiosities
        </p>
      </div>
    </div>
  </div>