         <div class="chat-messages_3 members-section">
            <div>
              <div class="profile-head d-flex justify-content-between">
                <div class="">
                  <!-- <img src="/assets/images/1.png" class="img-fluid" alt="" /> -->
                  <strong id="members">ALL MEMBERS</strong>

                  <!-- <div class="">

                    <div
                      class="pl-2 grey-text all-members"
                      style="align-self: center"
                    >


                    </div>
                  </div> -->
                </div>
                <div class="grey-icons d-flex">
                  <div class="search-bar">
                    <div class="my-profile-search">
                      <span
                        class="iconify"
                        data-icon="carbon:search"
                        data-inline="false"
                      ></span>
                    </div>

                    <form class="profile-search inline-form" action="">
                      <input
                        class="profile-search"
                        type="text"
                        placeholder="Search"
                      />
                      <img
                        style="align-self: baseline"
                        src="/assets/svgs/tick.svg"
                        alt=""
                      />
                    </form>
                  </div>

                  <!-- dropdown -->
                  <div class="dropdown" style="margin-top: -11px">
                    <div
                      type="button"
                      id="dropdownMenuButton"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <span
                        class="iconify"
                        data-icon="ph:dots-three-vertical-bold"
                        data-inline="false"
                      ></span>
                    </div>
                    <div
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton"
                    >
                      <a class="dropdown-item" href="#">
                        <span
                          class="iconify"
                          data-icon="carbon:arrows-vertical"
                          data-inline="false"
                        ></span>
                        Sort By (A/Z,Z/A)
                      </a>
                      <a class="dropdown-item" href="/feedback">
                        <span
                          class="iconify"
                          data-icon="codicon:feedback"
                          data-inline="false"
                        ></span>
                        Feedback
                      </a>
                      <a class="dropdown-item" href="/profile"
                        ><span
                          class="iconify"
                          data-icon="bytesize:user"
                          data-inline="false"
                        ></span
                        >My Profile</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <hr />
              <!-- after the head, the listing of the body -->
              <!--<div class="member-list">

                <%# for(var m=0;m<interestData.interestMembers.length;m++){ %>
                <div class="chat-block">
                  <div class="chat-block_flex_between pl-3 pr-3">
                    <div class="d-flex">
                      <div class="chat-block_flex_img_container">
                        <img
                          src="/assets/images/chat-img.png"
                          class="img-fluid member-img"
                          alt="chat-logo"
                        />
                      </div>
                      <strong class="strong member-name pl-2"> interestData.interestMembers[m].alias </strong>
                    </div>
                    <div class="profile-more">
                      <span
                        class="iconify"
                        data-icon="fe:arrow-right"
                        data-inline="false"
                      ></span>
                    </div>
                  </div>
                </div>
                <%#  } %>
              </div>-->

              <div class="member-list">

              </div>
            </div>
          </div>
