<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="icon" href="assets/images/1.png" />

    <title>register</title>
  </head>
  <body>
    <section>
      <div>
        <div class="form-flex">
          <div class="left-side">
            <div
              id="carouselExampleIndicators"
              class="carousel slide auth-carousel"
              data-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    class=""
                    src="assets/images/slider-one.png"
                    alt="First slide"
                    width="300"
                    height="200"
                  />
                  <div class="my-carousel-caption d-none d-md-block">
                    <h5 class="font-weight-bold caption-name">
                      Connect with Anyone
                    </h5>
                    <p class="caption-description">
                      connect and chat with anyone, no prior contact <br />
                      (e.g. Phone Number <br />, e-mail, etc.) needed
                    </p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img
                    class=""
                    src="assets/images/slider-two.png"
                    alt="Second slide"
                    width="300"
                    height="200"
                  />
                  <div class="my-carousel-caption d-none d-md-block">
                    <h5 class="font-weight-bold caption-name">
                      Connect with Anyone
                    </h5>
                    <p class="caption-description">
                      connect and chat with anyone, no prior contact <br />
                      (e.g. Phone Number <br />, e-mail, etc.) needed
                    </p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img
                    class=""
                    src="assets/images/slider-one.png"
                    alt="Third slide"
                    width="300"
                    height="200"
                  />
                  <div class="my-carousel-caption d-none d-md-block">
                    <h5 class="font-weight-bold caption-name">
                      Connect with Anyone
                    </h5>
                    <p class="caption-description">
                      connect and chat with anyone, no prior contact <br />
                      (e.g. Phone Number <br />, e-mail, etc.) needed
                    </p>
                  </div>
                </div>
              </div>
              <ol class="carousel-indicators auth-indicators">
                <li
                  data-target="#carouselExampleIndicators"
                  data-slide-to="0"
                  class="active"
                ></li>
                <li
                  data-target="#carouselExampleIndicators"
                  data-slide-to="1"
                ></li>
                <li
                  data-target="#carouselExampleIndicators"
                  data-slide-to="2"
                ></li>
              </ol>
            </div>
          </div>
          <div class="right-side">
            <div class="right-head">
              <div class="form-container">
                <div class="row pb-4">
                  <div class="col-lg-12">
                    <h5 class="form-header">Sign Up</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-container">
              <form class="form-group" method="POST" action="/createuser">
                <div class="row">
                  <div class="col-lg-12">
                    <label for="username" class="mt-4">UserName:</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="UserName"
                      name="username"
                      required
                      oninvalid="this.setCustomValidity('Please Enter username')"
                      oninput="this.setCustomValidity('')" 
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <label for="email">Email Address:</label>
                    <input
                      type="email"
                      class="form-control"
                      placeholder="E.g example@gmail.com"
                      name="email"
                      required
                      oninvalid="this.setCustomValidity('Email Address Is Important')"
                      oninput="this.setCustomValidity('')" 
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <label for="gender">Gender</label>
                    <select class="form-control" name="gender">
                      <option>Male</option>
                      <option>Female</option>                      
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <label for="dob">Date Of Birth</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <input class="form-control" placeholder="dd-mm-yyyy" type="date" name="dob" required oninvalid="this.setCustomValidity('Please select date of birth')"  oninput="this.setCustomValidity('')" />
                  </div>
                  <!-- <div class="col-lg-4 col-sm-12 col-xs-12">
                    <select class="form-control">
                      <option>01</option>
                      <option>02</option>
                      <option>03</option>
                      <option>04</option>
                      <option>05</option>
                    </select>
                  </div>
                  <div class="col-lg-4 col-sm-12 col-xs-12">
                    <select class="form-control">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                    </select>
                  </div>
                  <div class="col-lg-4 col-sm-12 col-xs-12">
                    <select class="form-control">
                      <option>1995</option>
                      <option>1996</option>
                      <option>1997</option>
                    </select>
                  </div> -->
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <label for="username">Create Password</label>
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Password"
                      name="password"
                      required
                      oninvalid="this.setCustomValidity('Please input password')"
                      oninput="this.setCustomValidity('')" 
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <label for="username">Confirm Password</label>
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Retype Password"
                      name="confirm"
                      required
                      oninvalid="this.setCustomValidity('Please confirm password')"
                      oninput="this.setCustomValidity('')" 
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <button class="form-btn" >CONTINUE</button>
                  </div>
                </div>
              </form>
              <p class="font-weight-bold f-12 text-center">
                Already have an account?
                <a href="/login" class="maroon-text">Sign In</a>
              </p>
              <div class="text-center">
                <a class="f-12 grey-text" href="#"
                  >By signing up you agree to our Privacy Policy and Terms.</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
