.chat-flex {
  display: flex;
  height: 100vh;
}

.chat-flex .chat-left-side {
  flex-basis: 29%;
  overflow-y: scroll;
}
.chat-flex .chat-right-side {
  flex-basis: 71%;
}

.chat-flex .chat-messages_2 {
  flex-basis: 51%;
  /* overflow-y: scroll; */
}
.chat-flex .chat-messages_3 {
  flex-basis: 20%;
  /* overflow-y: scroll; */
}

.chat-flex .chat-left-side::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.chat-flex .chat-left-side::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.chat-flex .chat-left-side::-webkit-scrollbar-thumb {
  background-color: var(--app-maroon);
}

/* firefox */

.chat-flex .chat-left-side {
  scrollbar-width: thin;
  scrollbar-color: dark;
}

/* animated searchbar  */

div.search-bar {
  display: flex;
  margin-top: -11px;
}

form.search {
  display: inline-flex;
  max-width: 0;
  overflow: hidden;
  transition: 0.5s ease all;
}

/* .search img {
  margin-top: 10px;
} */
form.search.open {
  max-width: 14em;
}

input.search {
  margin: 1em 0.4em;
  border: none;
  background: #fff;
  border-radius: 20px;
  border-bottom: 1px solid white;
  color: black;
  font-family: inherit;
  font-size: 0.7em;
  min-width: 10em;
  width: 30vw;
  max-width: 18em;

  /* mine */

  /* background: var(--unnamed-color-f3f3f3) 0% 0% no-repeat padding-box;
background: #F3F3F3 0% 0% no-repeat padding-box;
border-radius: 20px; */
}
input.search:focus {
  outline: none;
}

.btn {
  display: inline-block;
  background: none;
  color: white;
  border: 1px solid blue;
  border-radius: 0.25em;
  font-size: 1.2em;
  min-width: 3em;
}
.btn:focus {
  outline: none;
  color: blue;
  background: white;
}

span.search-icon {
  display: inline-block;
  position: relative;
  /* width: 2em;
  height: 2em; */
  cursor: pointer;
}
span.search-icon:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  top: 0;
  right: 0;
  border: 0.25em solid white;
}
span.search-icon:before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 0.25em;
  width: 42%;
  background: white;
  top: 50%;
  transform-origin: 100% 50%;
  transform: rotateZ(-45deg);
}

/* Stuff here is for centering */
div.body-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* media queries for flex */

@media screen and (max-width: 768px) {
  /* screen is splitted into three sections.  */

  /* chat-interest page */

  .the-flex {
    /*mother div */
    display: block;
  }

  .the-flex .chat-right-side {
    display: none;
  }
  /* end */

  /* for chat-messages, profile,feedback etc */

  .chat-flex {
    /*mother div */
    display: block;
  }

  .chat-flex .chat-left-side {
    display: none;
  }
  .chat-flex .chat-left-side {
    display: none;
  }
  .chat-flex .chat-messages_3 {
    display: none;
  }
  .chat-flex .chat-messages_2 {
    display: block;
    width: 100%;
  }

  /* end */

  .dnone {
    display: none;
  }

  .dropdown-menu.show {
    position: fixed !important;
    transform: translate(0px, 0px) !important;
    width: fit-content;
    top: 0px !important;
    left: 40% !important;
    will-change: transform;
  }

  .chat-intro span {
    font-size: 9px;
  }
}

/* profile chat */

div.profile-search {
  display: flex;
  margin-top: -11px;
}

form.profile-search {
  display: inline-flex;
  max-width: 0;
  overflow: hidden;
  transition: 0.5s ease all;
}
form.profile-search.open {
  max-width: 10em;
}

input.profile-search {
  margin: 0.8em 0.4em 0 0.4em;
  /* border: none; */
  background: #f2f2f2;
  border: 1px solid black;
  color: inherit;
  font-family: inherit;
  font-size: 10px;
  min-width: 10em;
  width: 100vw;
  max-width: 10em;
  height: 34px;
  border-radius: 20px;
  padding-left: 10px;
  /* mine */

  /* background: var(--unnamed-color-f3f3f3) 0% 0% no-repeat padding-box;
background: #F3F3F3 0% 0% no-repeat padding-box;
border-radius: 20px; */
}
input.profile-search:focus {
  outline: none;
}

.all-members-none {
  display: none;
}

.all-members-block {
  display: block;
}

.btn {
  display: inline-block;
  background: none;
  color: white;
  border: 1px solid blue;
  border-radius: 0.25em;
  font-size: 1.2em;
  min-width: 3em;
}
.btn:focus {
  outline: none;
  color: blue;
  background: white;
}

span.my-profile-search {
  display: inline-block;
  position: relative;
  width: 2em;
  height: 2em;
  cursor: pointer;
}
span.my-profile-search:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  top: 0;
  right: 0;
  border: 0.25em solid black;
}
span.my-profile-search:before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 0.25em;
  width: 42%;
  background: white;
  top: 50%;
  transform-origin: 100% 50%;
  transform: rotateZ(-45deg);
}

/* //chat search */

div.chat-search {
  display: flex;
  margin-top: -11px;
}

form.chat-search {
  display: inline-flex;
  max-width: 0;
  overflow: hidden;
  transition: 0.5s ease all;
}
form.chat-search.open {
  max-width: 14em;
}

input.chat-search {
  margin: 0.8em 0.4em 0 0.4em;
  /* border: none; */
  background: #f2f2f2;
  border: 1px solid black;
  color: inherit;
  font-family: inherit;
  font-size: 10px;
  min-width: 10em;
  width: 70vw;
  max-width: 10em;
  height: 34px;
  border-radius: 20px;
  padding-left: 10px;
  /* mine */

  /* background: var(--unnamed-color-f3f3f3) 0% 0% no-repeat padding-box;
background: #F3F3F3 0% 0% no-repeat padding-box;
border-radius: 20px; */
}
input.chat-search:focus {
  outline: none;
}

.btn {
  display: inline-block;
  background: none;
  color: white;
  border: 1px solid blue;
  border-radius: 0.25em;
  font-size: 1.2em;
  min-width: 3em;
}
.btn:focus {
  outline: none;
  color: blue;
  background: white;
}

span.chat-search-icon {
  display: inline-block;
  position: relative;
  width: 2em;
  height: 2em;
  cursor: pointer;
}
span.chat-search-icon:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  top: 0;
  right: 0;
  border: 0.25em solid black;
}
span.chat-search-icon:before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 0.25em;
  width: 42%;
  background: white;
  top: 50%;
  transform-origin: 100% 50%;
  transform: rotateZ(-45deg);
}

/* drop down */

#chatBlock {
  /* display: block;
  background-color: #efefef;
  height: 300px;
  width: 300px;
  border-radius: 20px;
  box-shadow: 0px 5px 30px -10px grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: grey; */
}

#menu {
  display: block;
  background-color: white;
  padding: 10px 0px;
  border-radius: 5px;
  box-shadow: 2px 2px 30px lightgrey;
  position: absolute;
  transform-origin: center;
  z-index: 2;
  opacity: 0;
  transform: scale(0);
  transition: transform 0.2s, opacity 0.2s;
}

#menu.show {
  opacity: 1;
  transform: scale(1);
  transform-origin: top left;
}

.menu-item {
  display: block;
  padding: 10px 30px;
  transition: 0.1s;
  color: #666;
  font-size: 15px;
}

.menu-item:hover {
  background-color: #eee;
  cursor: pointer;
}

.menu-item .iconify {
  font-size: 20px;
}

#out-click {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}
